@using HaLowNetwork.SX_NEWAH_EVK.Monitoring.Blazor.Services
@using Renci.SshNet
@using HaLow.Raspbian
<div class="console console-container">
    @for (int i = 0; i < _output.Count; i++)
    {
        <div>
            @{
                var result = _output[i];
            }

            @switch (result.ExitStatus)
            {
                case 0:
                    <div style="color: #fff">
                        <b>@Ssh.User@@@Ssh.Host #</b> @result.CommandText <br/> @((MarkupString)result.Result.Replace(Environment.NewLine,"<br />"))
                    </div>
                    break;
                default:
                    <div style="color: #a52834">
                        <b>@Ssh.User@@@Ssh.Host #</b> @result.CommandText <br/> @((MarkupString)result.Error.Replace(Environment.NewLine,"<br />"))
                    </div>

                    break;
            }

        </div>
    }

    <div class="console" @onkeydown="Enter" tabindex="0" >
        <b>@Ssh.User@@@Ssh.Host #</b> <input class="console console-input" @bind="_input"/><span @onclick="Send"  style="float: right">Send</span>
    </div>
    <div style="padding-top:15px;">
        @foreach (var s in _suggests)
        {
            ConsoleSuggestComponent component = s;
            <ConsoleSuggestComponent @ref="@component" Click="CommandClick"></ConsoleSuggestComponent>
        }
    </div>
</div>
@code {

    [Parameter]
    public SshService Ssh { get; set; }

    private List<SshCommand> _output = new();
    private string _input = string.Empty;

    private List<ConsoleSuggestComponent> _suggests = new();

    protected override void OnInitialized()
    {
        Init();
    }

    private void CommandClick(string command)
    {
        _input = command;
        StateHasChanged();
    }

    private void Init()
    {
        _suggests = new List<ConsoleSuggestComponent>()
        {
            new ()
            {
                Text = "Ping",
                Commnand = "ping <address> -c <count>",
            },
            new ()
            {
                Text = "WPA status",
                Commnand = Commands.WPA_STATUS,
            
            },
            new ()
            {
                Text = "Reboot",
                Commnand = Commands.REBOOT,
            
            }
        };
        
        StateHasChanged();
    }

    private void Send()
    {
        var output = Ssh.UseCommand(_input);
        if (output == null)
            return;

        _output.Add(output);
        _input = string.Empty;
        StateHasChanged();
    }

    private void Enter(KeyboardEventArgs key)
    {
        if (key.Code == "Enter" || key.Code == "NumpadEnter")
        {
            try
            {
                Send();
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                throw;
            }
        }
        else
        {
            
        }
    }

}