@page "/Dhcp"
@using HaLowNetwork.SX_NEWAH_EVK.Monitoring.Blazor.Services
@using HaLowNetwork.SX_NEWAH_EVK.Parse.Models
@inject DhcpService _service

<div>
    <h3>Dhcp leases</h3>
    <table class="table">
        <thead>
        <tr>
            <th>
                IP
            </th>
            <th>
                MAC
            </th>
            <th>
                Name
            </th>
            <th>
                Is static
            </th>
            <th>
                Expire
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var lease in _leases)
        {
            <tr>
                <td>
                    <a href="/DeviceDetail?ip=@lease.Ip" >@lease.Ip</a>
                </td>
                <td>
                    @lease.Mac
                </td>
                <td>
                    @lease.Name
                </td>
                <td>
                    @lease.Static
                </td>
                <td>
                    @(lease.LeaseEnd.HasValue ? lease.LeaseEnd.Value : "never")
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>



@code {

    private List<DhcpModel> _leases= new();

    protected override void OnInitialized()
    {
        Load();
    }

    private void Load()
    {
        _leases.Clear();
        _leases.AddRange(_service.Leases(true));
        StateHasChanged();
    }

}