@page "/MeshStatus"
@using HaLowNetwork.SX_NEWAH_EVK.Monitoring.Blazor.Services
@using HaLowNetwork.SX_NEWAH_EVK.Parse.Models



<div>
    <table class="table">
        <thead>
        <tr>
            <th>Dst</th>
            <th>Next hop</th>
            <th>Interface</th>
            <th>SN</th>
            <th>Metric</th>
            <th>Hop count</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var device in _models)
        {
            <tr>
                <td>@device.DstMac</td>
                <td>@device.NextHopMac</td>
                <td>@device.Interface</td>
                <td>@device.SN</td>
                <td>@device.Metric</td>
                <td>@device.HopCount</td>
            </tr>

        }
        </tbody>
    </table>
</div>




@code {

    [Inject] 
    private MeshStatusService _localService { get; set; }
    
    [Parameter]
    public MeshStatusService? Service { get; set; }

    private List<MeshPointModel> _models = new();

    string test = "";

    protected override async Task OnInitializedAsync()
    {

        if (Service==null)
        {
            Service = _localService;
        }
        _models = Service.MeshPointStatus().ToList();

        StateHasChanged();
    }

}